body {
	margin: 0px auto;
	background-color: #e8eeed;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

p, td, th, thead, tfoot, caption, li, h1, h2, h3, h4, h5, h6, caption {
	line-height: 1.6;
}

h1, h2, h3, h4, h5 {
	font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
	font-weight: 700;
}

h6 {
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-weight: 400;
}

body { font-size: 12pt; }
h1 { font-size: 24pt; }
h2 { font-size: 17pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }
h5 { font-size: 11pt; }
h5 { font-size: 10pt; }

code, pre {
	font-family: "Source Code Pro", monospace;
	background-color: #f0f0f0;
}

code {
	border-radius: 3px;
	padding: 0px 3px;
	color: #ee5500;
}

pre {
	border-left: 3px solid #f5b036;
	padding: 5px 10px;
	font-size: 12pt;
	overflow: auto;
	line-height: 1.4;
}

a:link {
	color: #447ed3;
}

a:visited {
	color: #447ed3;
}

a:hover {
	color: #ef2929;
}

p {
	margin: 1em 0px;
}

ul {
	margin: 1em 0px;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #dddddd;
}

#content {
	background-color: #ffffff;
	margin: 0px;
	color: #333333;
}

#footer {
	font-size: 90%;
	color: #ffffff;
	background-color: #3b4a67;
	padding: 5px 30px;
}

#footer p {
	margin: 0px;
}

#nav h1 {
	font-size: 20pt;
	line-height: 20pt;
	margin: 0px;
}

#nav h1 a:link {
	text-decoration: none;
	color: #476fb0;
}

#nav h1 a:visited {
	color: #476fb0;
}

#nav h1 a:hover {
	color: #476fb0;
}

#menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#menu .active {
	font-weight: bold;
}

#content h1 {
	color: #000000;
}

#content h2 {
	margin-top: 30pt;
	color: #008c5b;
}

.published {
	color: #888888;
}

.post-compact-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.post-compact-list:first-child {
	padding-top: 0px;
}

.post-compact-list li {
	padding: 3px 0px;
	border-bottom: 1px dashed #cccccc;
}

.post-compact-list li:after {
	content: "";
	display: block;
	clear: both;
}
.post-compact-list a:link {
   	text-decoration: none;
}

.post-compact-list .published {
	font-size: 75%;
	float: right;
}

#post-list {
	margin: 0px 0px;
	list-style-type: none;
	padding: 0px 0px;
}

#post-list > li {
	margin: 0px 0px;
	padding: 20pt 0px;
	border-top: 1px dashed #aaaaaa;
}

#post-list > li:first-child {
	border: 0px;
	padding-top: 0px;
}
	
#post-list h2, #post-list h3, #post-list h4, #post-list h5, #post-list h6 {
	margin: 1em 0px;
}

#content > h1:first-child {
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#content h1 a:link {
	color: #000000;
	text-decoration: none;
}

#content h1 a:visited {
	color: #000000;
}

#content h1 a:hover {
	color: #000000;
}

#tag-list, #cat-list, #author-list {
	list-style-type: none;
	padding: 0px;
}

#social {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#social li {
	display: inline;
	margin-right: 15px;
}

#social li:last-child {
	margin-right: 0px;
}

#social li a:link {
	color: #ffffff;
	text-decoration: none;
}

#social li a:visited {
	color: #ffffff;
}

#social li a:hover {
	color: #ffff00;
}

#copyright {
	color: #aaaaaa;
}

.tags-label {
	font-style: italic;
}

#logo {
	border: 0px;
}

p.admonition-title {
	font-weight: bold;
}

div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.warning,
div.admonition {
	border-radius: 3px;
	border: 1px solid #cccccc;
	margin: 10px 0px;
	padding: 10px;
}

div.attention,
div.caution,
div.danger,
div.error {
	border-left: 3px solid #dd3322;
	background-color: #fff1ef;
}

div.hint,
div.important,
div.note {
	border-left: 3px solid #336699;
	background-color: #e6f4fb;
}

div.warning {
	border-left: 3px solid #ff9933;
	background-color: #fefad6;
}

div.admonition {
	border-left: 3px solid #888888;
	background-color: #eeeeee;
}

div.attention p,
div.caution p,
div.danger p,
div.error p,
div.hint p,
div.important p,
div.note p,
div.warning p,
div.admonition p {
	margin: 5px 0px 0px 0px;
}

div.attention p:first-child,
div.caution p:first-child,
div.danger p:first-child,
div.error p:first-child {
	color: #cc0000;
	margin: 0px 0px 10px 0px;
}

div.hint p:first-child,
div.important p:first-child,
div.note p:first-child {
	color: #204a87;
	margin: 0px 0px 10px 0px;
}

div.warning p:first-child {
	color: #ff6600;
	margin: 0px 0px 10px 0px;
}

div.admonition p:first-child {
	margin: 0px 0px 10px 0px;
}

table {
	border-collapse: collapse;
	border-width: 2px 0px 2px 0px;
	border-style: solid;
	border-color: #888888;
}
td {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #888888;
	padding: 5px 8px;
}
th {
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: #888888;
	background-color: #f5f5f5;
	padding: 5px 8px;
}
table tr:nth-child(2n+1) {
	background-color: #f7fbff;
}
.footnote {
	border: 0px;
}
.footnote td, .footnote th {
	border: 0px;
}
.footnote tr:nth-child(2n+1) {
	background-color: transparent;
}
.normal-btn:link {
	color: #ff6600;
	padding: 5px 7px;
	border-radius: 5px;
	border: 1px solid #ff6600;
	text-decoration: none;
}
.normal-btn:visited {
	color: #ff6600;
}
.normal-btn:hover {
	color: #ffffff;
	background-color: #ff6600;
}

.sub-btn:link {
	color: #336655;
	padding: 5px 7px;
	border-radius: 5px;
	border: 1px solid #339955;
	text-decoration: none;
}
.sub-btn:visited {
	color: #339955;
}
.sub-btn:hover {
	color: #ffffff;
	background-color: #339955;
}
.paginator {
	text-align: right;
}

#content img {
	max-width: 100%;
}

#container {
	margin-top: 100px;
}

#nav {
	position: absolute;
	top: 5px;
	left: 100px;
}

#nav h1 {
	padding: 30px 0px 10px 0px;
}

#logo {
	position: absolute;
	top: 10px;
	left: -90px;
	width: 80px;
	height: 80px;
}

#social-icon {
	display: none;
}

#menu li {
	display: inline;
	line-height: 100%;
	margin-left: 6px;
}

#menu li:first-child {
	margin-left: 0px;
}

#menu a:link {
	color: #000000;
	text-decoration: none;
}

#menu a:visited {
	color: #000000;
	text-decoration: none;
}

#menu a:hover {
	color: #ef2929;
	text-decoration: underline;
}

#content {
	padding: 10px;
}

#content h1 {
	font-size: 20pt;
}

.visible-lg {
	display: none;
}

@media only screen and (max-width: 300px) {
	#nav {
		left: 15px;
	}

	#logo {
		position: absolute;
		top: 0px;
		display: none;
		width: 64px;
		height: 64px;
		background-color: #ff0000;
	}
}

@media only screen and (min-width: 800px) {
	#container {
		margin: 0px 0px 0px 200px;
		max-width: 800px;
	}

	#nav {
		position: fixed;
		top: 50px;
		left: 0px;
		width: 200px;
		height: auto;
		text-align: center;
	}

	#nav h1 {
		padding: 10px 0px;
	}

	#logo {
		position: relative;
		top: 0px;
		left: 0px;
		width: 120px;
		height: 120px;
	}

	#social-icon {
		display: block;
		margin-bottom: 2em;
	}

	#menu li {
		display: block;
		line-height: 1.6;
		margin: 0px auto;
	}

	#menu a:link {
		display: block;
		margin: 0px;
		color: #000000;
		text-decoration: none;
	}

	#menu a:visited {
		color: #000000;
		text-decoration: none;
	}

	#menu a:hover {
		background-color: #bcd9f2;
	}

	#social-icon {
		list-style-type: none;
		padding: 0px;
	}

	#social-icon img {
		border: 0px;
		width: 22px;
		height: 22px;
	}

	#social-icon li {
		margin: 0px;
		padding: 0px 0px 0px 3px;
		display: inline;
		line-height: 1.0;
		vertical-align: middle;
		font-size: 14pt;
	}

	#social-icon li:first-child {
		padding: 0px;
	}

	#social-icon a:link {
		height: 22px;
	}

	#content {
		padding: 30px;
	}

	#content h1 {
		font-size: 24pt;
	}

	.visible-lg {
		display: inherit;
	}
}

@media screen {
	#content {
		min-height: 1200px;
	}
	body {
		border-top: 5px solid #3b4a67;
	}
}

@media print {
	#nav {
		display: none;
	}
	#footer {
		display: none;
	}
}
