@import "bootstrap.min.css";
/* 初始化样式 */
* {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
ul,
dl {
  margin: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
a:hover,
a:visited,
a:link {
  text-decoration: none;
}
a:focus {
  outline: none;
}
.clearfix {
  clear: both;
}
input,
button {
  outline: none;
}
::-webkit-input-placeholder {
  color: #b2b2b2;
}
:-moz-placeholder {
  color: #b2b2b2;
}
::-moz-placeholder {
  color: #b2b2b2;
}
:-ms-input-placeholder {
  color: #b2b2b2;
}
body {
  font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
}
@font-face {
  font-family: 'iconfont';
  /* project id 1287859 */
  src: url('//at.alicdn.com/t/font_1287859_9hvpwvf0lt9.eot');
  src: url('//at.alicdn.com/t/font_1287859_9hvpwvf0lt9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1287859_9hvpwvf0lt9.woff2') format('woff2'), url('//at.alicdn.com/t/font_1287859_9hvpwvf0lt9.woff') format('woff'), url('//at.alicdn.com/t/font_1287859_9hvpwvf0lt9.ttf') format('truetype'), url('//at.alicdn.com/t/font_1287859_9hvpwvf0lt9.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'DIN';
  src: url('../font/DIN-Medium.otf');
}
.btnAfter a {
  background: #e5e5e5 !important;
  color: #666 !important;
}
nav {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1200px) {
  nav {
    width: 100%;
  }
}
.navbar-con {
  width: 92%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1300px) {
  .navbar-con {
    width: 98%;
  }
}
.navbar-con .eetLogo {
  width: 120px;
  float: left;
}
.navbar-con .eetLogo a img {
  display: block;
  width: 100%;
  margin-top: 13px;
}
.navTabs {
  float: left;
  margin-left: 26px;
}
.navTabs > li {
  float: left;
  margin: 0px 15px;
  line-height: 60px;
}
@media (max-width: 1500px) {
  .navTabs > li {
    margin: 0px 5px;
  }
}
.navTabs > li > .navTextLink {
  color: #333;
  display: block;
  font-size: 15px;
}
.navTabs > li > .navTextLink > .caret {
  color: #b2b2b2;
}
.navTabs > li > ul {
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  border: none;
  margin: 0px;
  padding: 10px 0px;
  left: 0px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.navTabs > li > ul a {
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0px 10px;
  margin: 3px 0px;
  color: #666;
}
.navTabs > li > ul a:hover {
  background: none;
  color: #2b7acd;
}
.navTabs > li > .menu-transverse {
  width: 450px;
}
.navTabs > li > .menu-transverse > li {
  width: 150px;
  float: left;
}
.navTabs > li > .menu-transverse > li a {
  padding: 0px 20px;
}
.navTabs > li > .menu-transverse > li a:hover {
  background: none;
  color: #2b7acd;
}
.navTabs > li:hover .navTextLink {
  color: #2b7acd;
}
.nav-search {
  width: 375px;
  height: 36px;
  border-radius: 50px;
  float: right;
  margin-top: 12px;
}
@media (max-width: 1500px) {
  .nav-search {
    width: 260px;
    margin-right: 10px;
  }
}
.nav-search .nav-search-left {
  width: calc(100% - 70px);
  height: 36px;
  float: left;
  border: 1px solid #2b7acd;
  border-radius: 60px 0px 0px 60px;
  -moz-border-radius: 60px 0px 0px 60px;
  -webkit-border-radius: 60px 0px 0px 60px;
}
.nav-search .nav-search-left .search-icon {
  width: 25px;
  height: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
}
.nav-search .nav-search-left .search-icon .iconfont {
  font-size: 16px;
  color: #999999;
}
.nav-search .nav-search-left .search-input {
  width: calc(100% - 25px);
  height: 34px;
  border: none;
  box-shadow: none;
  line-height: 34px;
  background: none;
  padding-left: 5px;
  box-sizing: border-box;
}
.nav-search .search-button {
  width: 70px;
  height: 36px;
  float: right;
  background: #2b7acd;
  border-radius: 0 60px 60px 0;
  -moz-border-radius: 0 60px 60px 0;
  -webkit-border-radius: 0 60px 60px 0;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.nav-search .search-button:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
  color: #fff;
}
.navUser {
  height: auto;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  height: 45px;
}
.navUser .navUserBtn a {
  float: left;
  min-width: 60px;
  height: 30px;
  padding: 0px 8px;
  line-height: 30px;
  background: #2b7acd;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background: none;
  color: #333;
}
.navUser .navUserBtn a:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
  color: #fff;
}
.navLoginUser {
  position: relative;
  height: 100%;
  margin-right: 10px;
  padding-left: 10px;
}
.navLoginUser > a img {
  width: 36px !important;
  height: 36px !important;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 2px solid #fff;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-top: 0px !important;
}
.navLoginUser > a img:hover {
  border: 2px solid #2b7acd;
}
.navLoginUser > a strong {
  position: absolute;
  top: -8px;
  right: 0px;
  background: #ff6e6e;
  height: 16px;
  line-height: 16px;
  padding: 0px 5px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  font-weight: bold;
  border: 1px solid #fff;
}
.navLoginUser .sub-oper {
  position: absolute;
  top: 45px;
  left: auto !important;
  right: 0px;
  width: 280px;
  height: auto;
  border: 1px solid #ededed;
  border-top: none;
  padding: 10px 0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  margin: 0px;
  background: #fff;
}
.navLoginUser .sub-oper .eject-user {
  width: 85.71%;
  height: auto;
  margin: 2% auto 0px;
  border-bottom: 1px solid #ededed;
}
.navLoginUser .sub-oper .eject-user .username {
  width: 100%;
  padding: 0px;
  margin-bottom: 1.5%;
  height: auto;
  overflow: hidden;
  line-height: 30px;
  text-align: left;
  float: none;
}
.navLoginUser .sub-oper .eject-user .username .userLink {
  font-size: 18px;
  color: #333;
  display: inline-block;
  float: left;
}
.navLoginUser .sub-oper .eject-user .username .meVideoBtn {
  float: right;
  min-width: 60px;
  height: 30px;
  padding: 0px 8px;
  line-height: 30px;
  background: #2b7acd;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  margin-top: 3px;
}
.navLoginUser .sub-oper .eject-user .username .meVideoBtn a {
  color: #fff;
}
.navLoginUser .sub-oper li {
  width: 33.33%;
  height: auto;
  float: left;
  padding: 5% 0px 0px;
  text-align: center;
}
.navLoginUser .sub-oper li a {
  color: #b2b2b2;
  font-size: 13px;
}
.navLoginUser .sub-oper li a:hover {
  color: #2b7acd;
}
.navLoginUser .sub-oper .message-center {
  width: 85.71%;
  height: auto;
  overflow: hidden;
  margin: 3% auto 0px;
}
.navLoginUser .sub-oper .message-center li .icon {
  display: inline-block;
  position: relative;
}
.navLoginUser .sub-oper .message-center li .thetext {
  display: inline-block;
  height: 20px;
  font-size: 13px;
  position: relative;
  top: -2px;
  left: 3px;
}
.navLoginUser .sub-oper .eject-icon {
  width: 85.71%;
  height: auto;
  margin: 3% auto 0px;
  overflow: hidden;
}
.navLoginUser .sub-oper .eject-icon li {
  padding: 10px 0px;
}
.navLoginUser .sub-oper .eject-icon li .iconfont {
  font-size: 16px;
  color: #b2b2b2;
}
.navLoginUser .sub-oper .eject-icon li span {
  display: block;
  line-height: 20px;
}
.navLoginUser .sub-oper .eject-icon li:hover {
  background: #f7f7f7;
}
.navLoginUser .sub-oper .eject-icon li:hover .iconfont {
  color: #2b7acd;
}
.navLoginUser .sub-oper .setup-exit {
  width: 100%;
  height: auto;
  border-top: 1px solid #ededed;
  margin-top: 10px;
}
.navLoginUser .sub-oper .setup-exit .setup-exit-con {
  width: 85.71%;
  height: auto;
  margin: 3% auto 0px;
  overflow: hidden;
}
.navLoginUser .sub-oper .setup-exit .setup-exit-con li {
  width: 50%;
  text-align: left;
  padding: 0px;
  line-height: 30px;
}
.navLoginUser .sub-oper .setup-exit .setup-exit-con li .iconfont {
  font-size: 13px;
}
.navLoginUser .sub-oper .setup-exit .setup-exit-con li:last-child {
  text-align: right;
}
.navLoginUser > a .thenum {
  top: -8px !important;
}
.drop-user {
  top: 45px !important;
}
.drop-user .user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-user .user-name > .me-video-btn {
  min-width: 60px;
  height: 30px;
  padding: 0px 8px;
  line-height: 30px;
  background: #2b7acd;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}
.drop-user .user-name > .me-video-btn:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
  color: #fff;
}
.nav-add-btn {
  float: right;
  width: 90px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.nav-add-btn a {
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #2b7acd;
}
.nav-add-btn a:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
  color: #fff;
}
.nav-seat {
  height: 60px;
}
.secondaryNav {
  width: 1200px;
  height: 90px;
  margin: 20px auto 0;
}
@media (max-width: 1200px) {
  .secondaryNav {
    width: 96%;
  }
}
.secondaryNav .video-text {
  width: calc(100% - 970px);
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
}
.secondaryNav .video-text a {
  color: #2b7acd;
}
.secondaryNav .video-text a:hover {
  color: #2b7acd;
}
.secondaryNav .rowBanner {
  width: 970px;
  float: right;
  margin: 0 auto;
}
.rowBanner {
  width: 970px;
  height: auto;
  position: relative;
  margin: 30px auto 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.rowBanner .adTag {
  position: absolute;
  left: 8px;
  bottom: 8px;
  width: 34px;
  height: 18px;
  background: #666666;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}
.categoryModular {
  width: 1200px;
  height: auto;
  margin: 20px auto 0px;
}
@media (max-width: 1200px) {
  .categoryModular {
    width: 96%;
  }
}
.categoryModular .row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-category {
  width: 33.3333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  min-height: 1px;
}
.col-category .theKeyword {
  color: #2b7acd;
  font-weight: bold;
}
.col-category-con {
  min-height: 150px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px 0px 20px 20px;
  padding: 20px 20px 0px 20px;
}
.col-category-con .thetitle {
  font-size: 18px;
  font-weight: bold;
  color: #2b7acd;
  padding-left: 36px;
  background-image: url("../../images/category_icon1.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.col-category-con .thelist {
  width: 100%;
  margin-top: 15px;
}
.col-category-con .thelist a {
  margin-right: 7px;
  font-size: 14px;
  color: #333;
  line-height: 19px;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
}
.col-category-con .thelist .active {
  color: #2b7acd;
  font-weight: bold;
}
.col-category-con .thelist a:hover {
  color: #2b7acd;
  font-weight: bold;
}
.col-category-con .thelist .themore {
  position: relative;
  display: inline-block;
  padding: 5px;
}
.col-category-con .thelist .themore span {
  color: #2b7acd;
  font-size: 14px;
  cursor: pointer;
}
.col-category-con .thelist .themore .themoreCon {
  width: 340px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: none;
  z-index: 9999;
}
.col-category-con .thelist .themore .themoreCon a {
  color: #666;
}
.col-category-con .thelist .themore .themoreCon a:hover {
  color: #2b7acd;
  font-weight: bold;
}
.col-category-con .thelist .themore .themoreCon:before {
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  overflow: visible;
  border: 7px solid transparent;
  border-top-color: #fff;
  content: "";
}
.col-category-con .thelist .themore:hover .themoreCon {
  display: block;
}
.col-category:nth-child(2) .col-category-con .thetitle {
  background-image: url("../../images/category_icon2.svg");
}
.col-category:nth-child(3) .col-category-con .thetitle {
  background-image: url("../../images/category_icon3.svg");
}
footer {
  width: 100%;
  height: auto;
  background: #333333;
  margin: 40px auto 0px;
}
@media (max-width: 1200px) {
  footer {
    width: 100%;
  }
}
footer .footer-con {
  width: 1200px;
  height: auto;
  margin: 0px auto;
  background: #333333;
}
@media (max-width: 1200px) {
  footer .footer-con {
    width: 96%;
  }
}
footer .footer-con .footer-title {
  margin: 30px auto 0px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  border-left: 5px solid #fff;
  padding-left: 7px;
}
footer .footer-con .footer-nav {
  width: 100%;
  height: auto;
  margin: 15px auto 0px;
}
footer .footer-con .footer-nav a {
  display: inline-block;
  padding: 5px;
  color: #a1a1a1;
  text-align: justify;
}
footer .footer-con .footer-nav a:hover {
  color: #fff;
}
footer .footer-con .footer-center {
  width: 100%;
  height: auto;
  margin: 10px auto 0px;
  overflow: hidden;
}
footer .footer-con .footer-center .global-stie {
  width: 84%;
  height: auto;
  float: left;
  overflow: hidden;
}
footer .footer-con .footer-center .global-stie dl {
  width: 19.8%;
  height: auto;
  float: left;
  margin-top: 2%;
  margin-right: 5%;
}
footer .footer-con .footer-center .global-stie dl dt {
  font-size: 14px;
  color: #dddddd;
  border-bottom: 1px dashed #ebebeb;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px;
}
footer .footer-con .footer-center .global-stie dl dd a {
  color: #a1a1a1;
  line-height: 24px;
  font-size: 13px;
}
footer .footer-con .footer-center .global-stie dl dd a:hover {
  color: #fff;
}
footer .footer-con .footer-center .site-follow {
  width: 14%;
  height: auto;
  float: right;
}
footer .footer-con .footer-center .site-follow li {
  width: 54px;
  height: 54px;
  float: left;
  margin: 20px 15px 0px 0px;
  position: relative;
}
footer .footer-con .footer-center .site-follow li a {
  display: block;
  width: 54px;
  height: 54px;
  text-align: center;
  line-height: 46px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 26px;
}
footer .footer-con .footer-center .site-follow li a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #2b7acd;
}
footer .footer-con .footer-center .site-follow li .code-img {
  position: absolute;
  top: 60px;
  width: 200px;
  height: 200px;
  display: none;
  z-index: 999;
}
footer .footer-con .footer-center .site-follow li .code-img img {
  border: 7px solid #fff;
  display: block;
}
footer .footer-con .footer-center .site-follow li:hover .code-img {
  display: block;
}
footer .footer-bottom {
  width: 1200px;
  height: auto;
  margin: 0px auto;
  background: #333333;
  border-top: #484848 1px solid;
  padding-top: 20px;
  text-align: center;
  line-height: 26px;
  color: #a1a1a1;
  font-size: 13px;
}
@media (max-width: 1200px) {
  footer .footer-bottom {
    width: 96%;
  }
}
.sidebar-rolling {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
}
.sidebar-rolling li {
  width: 60px;
  height: 80px;
  text-align: center;
  position: relative;
  padding-top: 15px;
}
.sidebar-rolling li a {
  color: #b2b2b2;
}
.sidebar-rolling li a span {
  display: block;
}
.sidebar-rolling li a strong {
  font-size: 13px;
  color: #b2b2b2;
  display: block;
}
.sidebar-rolling li a:hover span {
  color: #2b7acd;
}
.sidebar-rolling li a:hover strong {
  color: #2b7acd;
}
.sidebar-rolling .back-top {
  display: none;
}
.sidebar-rolling .back-top:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 10px;
  width: 40px;
  height: 1px;
  background: #ededed;
}
.switchTabs {
  width: 1200px;
  overflow: hidden;
  margin: 20px auto 0px;
}
@media (max-width: 1200px) {
  .switchTabs {
    width: 96%;
  }
}
.switchTabs li {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 30px;
  position: relative;
}
.switchTabs li a {
  font-size: 16px;
  color: #333;
  display: block;
}
.switchTabs li a .iconfont {
  color: #999;
}
.switchTabs li.active a {
  font-weight: bold;
  color: #2b7acd;
}
.switchTabs li.active a .iconfont {
  font-weight: normal;
}
.switchTabs li.active:before {
  width: 30px;
  background: #2b7acd;
}
.switchTabs li:last-child {
  margin-right: 0px;
}
.switchTabs li:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  content: '';
  background: linear-gradient(90deg, #306dff, #7b62ff);
  border-radius: 10px;
  width: 0px;
  height: 2px;
  background: none;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.switchTabs li:hover a {
  font-weight: bold;
  color: #2b7acd;
}
.switchTabs li:hover a .iconfont {
  font-weight: normal;
}
.switchTabs li:hover:before {
  width: 30px;
  background: #2b7acd;
}
.paging {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1200px) {
  .paging {
    width: 96%;
  }
}
.paging li {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
}
.paging li a {
  color: #666;
  font-size: 14px;
  display: block;
}
.paging li:hover {
  background: #e6e6e6;
}
.paging li:hover a {
  color: #2b7acd;
}
.paging li.text {
  width: auto;
  margin: 0px 10px;
}
.paging li.text a {
  font-size: 14px;
}
.paging li.text:hover {
  background: none;
}
.paging li.disabled a {
  color: #b2b2b2;
}
.paging li.active {
  background: #2b7acd;
}
.paging li.active a {
  color: #fff;
  font-weight: bold;
}
.modal-dialog {
  height: 100%;
}
.modal-dialog .modal-content {
  width: 100%;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-dialog .modal-content .modal-header {
  padding: 0px;
  height: 30px;
  line-height: 30px;
  border-bottom: none;
}
.modal-dialog .modal-content .modal-header .modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.modal-dialog .modal-content .modal-header .iconfont {
  font-size: 20px;
  margin: 0px;
}
.modal-dialog .modal-content .modal-body {
  padding: 0px;
}
.noContent {
  padding: 100px 0px;
  text-align: center;
}
.noContent span {
  display: block;
  font-size: 14px;
  color: #999;
  margin-top: 15px;
}
.noContent .followBtn {
  width: 90px;
  height: 30px;
  margin: 20px auto 0;
  float: none;
}
.noContent .followBtn a {
  min-width: 60px;
  height: 30px;
  padding: 0px 8px;
  line-height: 30px;
  background: #2b7acd;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.noContent .followBtn a:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
  color: #fff;
}
/*404*/
.errorHtml {
  height: 100%;
}
.errorBody {
  position: relative;
  height: 100%;
}
.errorBox {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.errorBox h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
.errorBox .caption {
  font-size: 14px;
  color: #999;
  display: block;
  margin-top: 10px;
}
.errorBox .errorPic img {
  width: 516px;
  margin: 30px auto 0px;
}
.errorBox .error-link {
  text-align: center;
}
.errorBox .error-link a {
  min-width: 60px;
  height: 30px;
  padding: 0px 8px;
  line-height: 30px;
  background: #2b7acd;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  width: 150px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  font-size: 16px;
  margin-right: 30px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.errorBox .error-link a:last-child {
  background: #ededed;
  color: #b2b2b2;
  margin-right: 0px;
}
.errorBox .error-link a:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
  color: #fff;
}
/*
课程模块*/
.col-modular-item {
  width: 25%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  min-height: 1px;
}
.courseModular {
  width: 1200px;
  height: auto;
  margin: 20px auto 0px;
  padding-bottom: 15px;
}
@media (max-width: 1200px) {
  .courseModular {
    width: 96%;
  }
}
.courseModular .row {
  margin-left: -10px;
  margin-right: -10px;
}
.courseModular .col-course-item {
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.courseModular .col-course-item .thepicBg {
  width: 100%;
  position: relative;
  height: 0px;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.courseModular .col-course-item .thepicBg .thepic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.courseModular .col-course-item .thepicBg .duration {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 20px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 0px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.courseModular .col-course-item .thepicBg .state {
  padding: 0px 6px;
  position: absolute;
  top: 15px;
  left: 0px;
  height: 28px;
  border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  text-align: center;
  line-height: 28px;
  color: #fff;
}
.courseModular .col-course-item .thepicBg .state .iconfont {
  display: inline-block;
}
.courseModular .col-course-item .thepicBg .state-ing {
  background: #ff4242;
}
.courseModular .col-course-item .thepicBg .state-ing .rank-icon {
  display: inline-block;
  width: 17px;
  overflow: hidden;
  margin-right: 3px;
  height: 12px;
  vertical-align: 0;
  margin-right: 0px;
}
.courseModular .col-course-item .thepicBg .state-ing .rank-icon i {
  width: 2px;
  height: 12px;
  margin-right: 2px;
  display: block;
  float: left;
  background: #fff;
}
.courseModular .col-course-item .thepicBg .state-ing .rank-icon i:nth-child(1) {
  -webkit-animation: lines 2s linear 0.2s infinite;
  animation: lines 2s linear 0.2s infinite;
}
.courseModular .col-course-item .thepicBg .state-ing .rank-icon i:nth-child(2) {
  -webkit-animation: lines 2s linear 0.4s infinite;
  animation: lines 2s linear 0.4s infinite;
}
.courseModular .col-course-item .thepicBg .state-ing .rank-icon i:nth-child(3) {
  -webkit-animation: lines 2s linear 0.6s infinite;
  animation: lines 2s linear 0.6s infinite;
}
.courseModular .col-course-item .thepicBg .state-ing .rank-icon i:nth-child(4) {
  -webkit-animation: lines 2s linear 0.8s infinite;
  animation: lines 2s linear 0.8s infinite;
}
@keyframes lines {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  25% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  75% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}
.courseModular .col-course-item .thepicBg .state-today {
  background: #1b95e9;
}
.courseModular .col-course-item .thepicBg .state-back {
  background: #00b17c;
}
.courseModular .col-course-item .user {
  position: relative;
  top: -10px;
  margin: 0px 10px;
  overflow: hidden;
}
.courseModular .col-course-item .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
  display: block;
  float: left;
}
.courseModular .col-course-item .user span {
  font-size: 12px;
  color: #999;
  display: block;
  float: left;
  margin: 16px 0px 0px 5px;
}
.courseModular .col-course-item .user a:hover span {
  color: #2b7acd;
}
.courseModular .col-course-item .thetitle {
  width: 100%;
  min-height: 40px;
}
.courseModular .col-course-item .thetitle a {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
}
.courseModular .col-course-item .thetitle a:hover {
  color: #2b7acd;
  font-weight: bold;
}
.courseModular .col-course-item .thedateRow {
  width: 100%;
  padding: 0px 15px;
  margin-top: 8px;
  overflow: hidden;
}
.courseModular .col-course-item .thedateRow .thedate {
  display: block;
  float: left;
  font-size: 12px;
  color: #666;
}
.courseModular .col-course-item .thedateRow .remind-btn {
  display: block;
  float: right;
  width: 60px;
  height: 22px;
  border: 1px solid #2b7acd;
  font-size: 12px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  line-height: 22px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.courseModular .col-course-item .thedateRow .remind-btn:hover {
  background: #2b7acd;
  color: #fff;
}
.courseModular .col-course-item .other {
  width: 100%;
  padding: 0px 15px 15px 15px;
  margin-top: 6px;
  overflow: hidden;
  line-height: 20px;
}
.courseModular .col-course-item .other .other-con {
  width: 100%;
  border-top: 1px solid #ededed;
  padding-top: 6px;
  overflow: hidden;
}
.courseModular .col-course-item .other .other-con .number {
  float: left;
  font-size: 13px;
  color: #999;
}
.courseModular .col-course-item .other .other-con .number .iconfont {
  font-size: 10px;
}
.courseModular .col-course-item .other .other-con .theprice {
  font-size: 18px;
  color: #FF0000;
  float: right;
}
.courseModular .col-course-item .other .other-con .theprice em {
  font-size: 13px;
  font-style: normal;
}
.courseModular .col-course-item:hover .thepic {
  transform: scale(1.1);
}
.courseModular .col-course-list-item {
  border: 1px solid #ededed;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.courseModular .col-course-list-item .thepicBg {
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
}
.courseModular .col-course-list-item .thetitle {
  margin-top: 10px;
  padding: 0px 15px;
}
.courseModular .col-course-list-item .other {
  padding-bottom: 5px;
}
.courseModular .col-course-list-item .Lecturer {
  width: 100%;
  overflow: hidden;
  padding: 6px 15px 15px 15px;
}
.courseModular .col-course-list-item .Lecturer > a {
  display: block;
  width: 100%;
  height: 100%;
}
.courseModular .col-course-list-item .Lecturer > a > .headPortrait {
  width: 48px;
  height: 48px;
  float: left;
}
.courseModular .col-course-list-item .Lecturer > a > .headPortrait > img {
  display: block;
  width: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR {
  width: calc(100% - 48px);
  padding-left: 10px;
  float: right;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR > span {
  display: block;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR .user {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR .title {
  font-size: 13px;
  color: #999;
  margin-top: 5px;
}
.courseModular .col-course-list-item .Lecturer > a:hover .user {
  color: #2b7acd;
}
.courseModular .col-course-list-item .Lecturer > a > .headPortrait {
  width: 40px;
  height: 40px;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR {
  width: calc(100% - 40px);
  padding-left: 10px;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR .username {
  font-size: 12px;
  font-weight: normal;
  color: #333;
}
.courseModular .col-course-list-item .Lecturer > a > .LecturerR .title {
  margin-top: 3px;
  font-size: 12px;
}
.courseModular .col-course-list-item .Lecturer:hover .headPortrait img {
  border: 1px solid #2b7acd;
  padding: 2px;
}
.lecturerModular {
  width: 1200px;
  height: auto;
  margin: 65px auto 0px;
}
@media (max-width: 1200px) {
  .lecturerModular {
    width: 96%;
  }
}
.lecturerModular .col-lecturer-item {
  background: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 70px;
  position: relative;
  top: 0px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  border: 1px solid #ededed;
  min-height: 210px;
}
.lecturerModular .col-lecturer-item .lecturerPic {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  z-index: 10;
}
.lecturerModular .col-lecturer-item .lecturerPic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.lecturerModular .col-lecturer-item .cover {
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, #ffe8e4, rgba(255, 232, 228, 0));
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  z-index: 1;
}
.lecturerModular .col-lecturer-item .lecturerText {
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0px;
  text-align: center;
  z-index: 20;
}
.lecturerModular .col-lecturer-item .lecturerText .username {
  font-size: 18px;
  font-weight: bold;
}
.lecturerModular .col-lecturer-item .lecturerText .username a {
  color: #333;
}
.lecturerModular .col-lecturer-item .lecturerText .username a:hover {
  color: #2b7acd;
}
.lecturerModular .col-lecturer-item .lecturerText .userTitle {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
  padding: 0px 10px;
}
.lecturerModular .col-lecturer-item .lecturerText .courseArea {
  font-size: 14px;
  color: #333;
  margin-top: 15px;
  padding: 0px 20px;
}
.lecturerModular .col-lecturer-item .lecturerText .courseArea span {
  display: block;
  border-top: 1px solid #ededed;
  padding-top: 15px;
}
.lecturerModular .col-lecturer-item .lecturerText .courseStudent {
  width: 100%;
  text-align: center;
  float: left;
  font-size: 13px;
  color: #999;
  margin-top: 10px;
}
.lecturerModular .col-lecturer-item .lecturerText .courseStudent .iconfont {
  font-size: 10px;
}
.lecturerModular .col-lecturer-item .followBtn a {
  display: block;
  margin: 20px auto 0px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 60px;
  height: 30px;
  padding: 0px 8px;
  line-height: 30px;
  background: #2b7acd;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.lecturerModular .col-lecturer-item .followBtn a:hover {
  background: linear-gradient(90deg, #306dff, #7b62ff);
}
.lecturerModular .col-lecturer-item .followAfterBtn a {
  background: linear-gradient(90deg, #306dff, #7b62ff);
}
.lecturerModular .col-lecturer-item:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  top: -10px;
}
.lecturerModular .col-lecturer-item:hover .lecturerPic {
  border: 1px solid #2b7acd;
  padding: 2px;
}
.lecturerModular .col-lecturer-item:hover .username {
  color: #2b7acd;
}
.lecturerModular .col-modular-item:nth-child(2n+0) .cover {
  background: linear-gradient(180deg, #ffecd5, rgba(255, 236, 213, 0));
}
.lecturerModular .col-modular-item:nth-child(3n+0) .cover {
  background: linear-gradient(180deg, #d7eeff, rgba(255, 236, 213, 0));
}
.lecturerModular .col-modular-item:nth-child(4n+0) .cover {
  background: linear-gradient(180deg, #cbf6e3, rgba(255, 236, 213, 0));
}
.lecturerModular .col-lecturer-item-more {
  border: none;
  background: url(../images/lecturerMore.png) no-repeat center;
  position: relative;
}
.lecturerModular .col-lecturer-item-more .lecturer-more-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.lecturerModular .col-lecturer-item-more .lecturer-more-text .thetitle {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}
.lecturerModular .col-lecturer-item-more .lecturer-more-text .thecon {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 10px;
}
.pageVideoTitle {
  width: 1200px;
  margin: 30px auto 0px;
  line-height: 26px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .pageVideoTitle {
    width: 96%;
  }
}
.pageVideoTitle .theText {
  font-size: 26px;
  font-weight: bold;
  color: #333333;
  display: block;
  float: left;
}
.pageVideoTitle .moreAndchange {
  float: right;
}
.pageVideoTitle .moreAndchange .theChange {
  float: left;
  margin-right: 20px;
}
.pageVideoTitle .moreAndchange .theChange a {
  color: #999;
}
.pageVideoTitle .moreAndchange .theChange a .iconfont {
  display: inline-block;
  margin-right: 2px;
  font-size: 14px;
}
.pageVideoTitle .moreAndchange .theChange a:hover {
  color: #2b7acd;
}
.pageVideoTitle .moreAndchange .theMore {
  float: right;
  display: block;
  color: #999;
}
.pageVideoTitle .moreAndchange .theMore:hover {
  color: #2b7acd;
}
.pageVideoTitleFirst {
  margin: 50px auto 0;
}
.pageVideoRow {
  width: 1200px;
  margin: 20px auto 0px;
}
@media (max-width: 1200px) {
  .pageVideoRow {
    width: 96%;
  }
}
.pageVideoRow .row {
  margin-left: -10px;
  margin-right: -10px;
}
.video-modular-item {
  width: 25%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  min-height: 1px;
  margin-bottom: 20px;
}
.col-video-item {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  top: 0px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.col-video-item .thepicBg {
  width: 100%;
  position: relative;
  height: 0px;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.col-video-item .thepicBg .thePic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.col-video-item .thepicBg .theDuration {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 20px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 0px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.col-video-item .thepicBg .deleteIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 0px 8px 0px 0px;
}
.col-video-item .thepicBg .deleteIcon a {
  color: #fff;
}
.col-video-item .thepicBg .operateBtn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.col-video-item .thepicBg .operateBtn a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.col-video-item .thepicBg .operateBtn a span {
  font-size: 14px;
}
.col-video-item .thepicBg .examineState {
  position: absolute;
  top: 8px;
  left: 8px;
}
.col-video-item .thepicBg .examineState span {
  display: block;
  width: 54px;
  height: 22px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 13px;
  text-align: center;
  line-height: 22px;
  color: #fff;
}
.col-video-item .thepicBg .examineState .noReviewed {
  background: #b2b2b2;
}
.col-video-item .thepicBg .examineState .Reviewed {
  background: #2b7acd;
}
.col-video-item .theTitle {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  min-height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
}
.col-video-item .theTitle a {
  color: #333;
}
.col-video-item .userAndNum {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.col-video-item .userAndNum .theUser a {
  display: flex;
}
.col-video-item .userAndNum .theUser a .follow {
  margin-right: 10px;
  line-height: 20px;
  font-size: 12px;
  display: inline-block;
  padding: 0 4px;
  background-color: rgba(255, 165, 0, 0.1);
  color: orange;
  transform: scale(0.8);
}
.col-video-item .userAndNum .theUser img {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
}
.col-video-item .userAndNum .theUser .theText {
  display: block;
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}
.col-video-item .userAndNum .theUser:hover .theText {
  color: #2b7acd;
}
.col-video-item .userAndNum .theDate {
  float: left;
  line-height: 20px;
  color: #999;
}
.col-video-item .userAndNum .theNum {
  line-height: 20px;
  color: #999;
}
.col-video-item .userAndNum .theNum .iconfont {
  margin-right: 2px;
  display: inline-block;
}
.col-video-item .theTop:hover .thepicBg .thePic {
  transform: scale(1.1);
}
.col-video-item .theTop:hover .theTitle a {
  color: #2b7acd;
}
.col-leftAndRight-video {
  width: 100%;
  height: auto;
  margin: 15px auto 0;
  position: relative;
  top: 0px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  overflow: hidden;
}
.col-leftAndRight-video .theLeft {
  width: 120px;
  float: left;
}
.col-leftAndRight-video .theLeft .thepicBg {
  width: 100%;
  position: relative;
  height: 0px;
  padding-bottom: 56.25%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
.col-leftAndRight-video .theLeft .thepicBg .thePic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.col-leftAndRight-video .theRight {
  width: calc(100% - 120px - 10px);
  float: right;
}
.col-leftAndRight-video .theRight .theTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
}
.col-leftAndRight-video .theRight .theTitle a {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  line-height: 20px;
}
.col-leftAndRight-video .theRight .theTitle a:hover {
  color: #2b7acd;
}
.col-leftAndRight-video .theRight .theNum {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}
.col-leftAndRight-video:hover .theLeft .thePic {
  transform: scale(1.1);
}
.videoDetailRTitle {
  width: 100%;
  margin-top: 20px;
  line-height: 18px;
  overflow: hidden;
}
.videoDetailRTitle .theText {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.videoDetailRTitle .next-button {
  float: right;
}
.videoDetailRTitle .next-button .txt {
  font-size: 12px;
  color: #999;
  margin-right: 3px;
  vertical-align: middle;
}
.videoDetailRTitle .next-button .switch-button {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 18px;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}
.videoDetailRTitle .next-button .switch-button:after {
  content: "";
  position: absolute;
  top: 2px;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  background-color: #fff;
}
.videoDetailRTitle .next-button .switch-button.on {
  background: #2b7acd;
}
.videoDetailRTitle .next-button .switch-button.on:after {
  left: auto;
  right: 2px;
}
.videoDetailRTitle .next-button .switch-button.off {
  background: #ccc;
}
.videoDetailRTitle .next-button .switch-button.off:after {
  left: 2px;
}
.classify {
  width: 1200px;
  height: auto;
  margin: 20px auto 0px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #fff;
  padding: 20px 30px;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1200px) {
  .classify {
    width: 96%;
  }
}
.classify .classifyItem {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  line-height: 28px;
}
.classify .classifyItem .item-name {
  width: 60px;
  float: left;
  font-size: 14px;
  color: #333;
}
.classify .classifyItem .item-all {
  width: calc(100% - 60px);
  float: right;
  font-size: 0px;
}
.classify .classifyItem .item-all a {
  display: inline-block;
  height: 26px;
  padding: 0px 8px;
  color: #333;
  font-size: 14px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin: 0px 5px;
}
.classify .classifyItem .item-all a:hover {
  background: #2b7acd;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.classify .classifyItem .item-all .active {
  background: #2b7acd;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.classify .classifyItem:last-child {
  margin-bottom: 0px;
}
.paging {
  margin-bottom: 50px;
  margin-top: 20px;
}
.listTitle {
  width: 1200px;
  height: auto;
  margin: 20px auto 0;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .listTitle {
    width: 96%;
  }
}
.listTitle .titleText {
  display: block;
  float: left;
  font-size: 26px;
  font-weight: bold;
  color: #2b7acd;
  line-height: 40px;
}
.listTitle .switchTabs {
  width: auto;
  float: right;
  margin: 0px;
}
/*# sourceMappingURL=list.css.map */