
/*悬浮广告*/
.welcome-ad{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999;
	display: none;
}
/*.welcome-ad .welcome-ad-con{*/
	/*width: 640px;*/
	/*height: 480px;*/
	/*position: relative;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*margin-top: -240px;*/
	/*margin-left: -520px;*/
/*}*/
.welcome-ad .welcome-ad-con .count{
	position: absolute;
	bottom: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
.welcome-ad .welcome-ad-con .count .thenum,
.welcome-ad .welcome-ad-con .count .iconfont{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.welcome-ad .welcome-ad-con .count .iconfont{
	font-size: 26px;
	display: none;
	cursor: pointer;
}
.welcome-ad .welcome-ad-con .count .thenum{
	font-family: 'myEnFont','Microsoft YaHei';
}
.welcome-ad .welcome-ad-con .ad-text{
	position: absolute;
	left: 5px;
	bottom: -225px;
	font-size: 10px;
	width: 35px;
	height: 20px;
	color: rgba(255,255,255,0.5);
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	text-align: center;
	line-height: 18px;
}
.welcome-ad .ad_a{
	position: fixed;
	bottom: 100px;
	left: 50px;
}
.welcome-ad .ad_a a {
	background: rgba(0,0,0,.8);
	color: #ebebeb;
	font-size: 12px;
	padding: 6px 15px;
	border-radius: 5px;
}

.welcome-ad .welcome-ad-con{
		width: 300px;
		height: 250px;
		position: relative;
		top: 38%;
		left: 39%;
		margin-top: -125px;
		margin-left: -150px;
	}
	.welcome-ad .welcome-ad-con .count{
		width: 30px;
		height: 30px;
		bottom: -235px;
		right: -355px;
		line-height: 30px;
	}
	.welcome-ad .welcome-ad-con .count .thenum,
	.welcome-ad .welcome-ad-con .count .iconfont{
		width: 30px;
		height: 30px;
		font-size: 16px;

	}

@media (max-width: 767px) {
	.welcome-ad .welcome-ad-con{
		width: 300px;
		height: 250px;
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -125px;
		margin-left: -150px;
	}
	.welcome-ad .welcome-ad-con .ad-text {
		position: absolute;
		bottom: 32%;
		font-size: 10px;
		width: 35px;
		height: 20px;
		color: rgba(255, 255, 255, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 3px;
		text-align: center;
		line-height: 18px;
	}
}