.detail-left-title {
    width: 100%;
    height: 30px;
    margin: 10px auto 0px;
    position: relative;
}

.detail-left-title:first-child {
    margin: 0px auto;
}

.detail-left-title .thetetxt {
    width: 70px;
    height: 30px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: 0px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    z-index: 999;
    color: #808080;
}
/*
.detail-left-title .theline {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 15px;
    left: 0px;
    background: #ededed;
}*/

.share-list {
    margin: 5px auto 0px;
}

.share-list a {
    display: block;
    margin: 10px auto 0px;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    animation: rock .4s;
}

.share-list a .iconfont {
    font-size: 16px;
}

.share-list .weixin {
    background: #52cd3e;
    position: relative;
}

.share-list .weixin-code {
    position: absolute;
    left: 50px;
    top: 0px;
    background: #fff;
    padding: 8px;
    -moz-box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.08), -2px -1px 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.08), -2px -1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.08), -2px -1px 5px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    display: none;
    z-index: 99999999;
}

.share-list .weixin-code span {
    line-height: 20px;
    color: #808080;
    height: auto;
    display: block;
}

/*.share-list .weixin-code:after {
    position: absolute;
    display: inline-block;
    top: 16px;
    left: -8px;
    width: 0;
    height: 0px;
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    box-shadow: 3px -2px 7px rgba(0, 0, 0, 0.08);
}*/

.share-list .weixin-code img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.share-list .weixin:hover {
    opacity: 1;
}

.share-list .weixin:hover .weixin-code {
    display: block;
}

.share-list .qq {
    background: #ff6631;
}

.share-list .Qzone {
    background: #ffbd1d;
}

.share-list .weibo {
    background: #f8575c;
}

.share-list a:hover {
    opacity: 0.6;
    color: #fff;
}

.comment-icon {
    width: 50px;
    height: 57px;
    margin: 10px auto 0px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.comment-icon:hover {
    opacity: 0.6;
}

.comment-icon img {
    width: 40px;
    height: 46px;
    display: block;
}

.comment-icon .thenum {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -16px;
    right: -16px;
    background: #fff;
    font-size: 28px;
    text-align: center;
    font-family: numFont;
    color: #ff4949;
}

.thumbs-icon {
    width: 40px;
    height: 40px;
    margin: 10px auto 0px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.other-operate {
    margin-top: 5px;
}

.other-operate .other-icon {
    margin-top: 5px;
}

.new-content {
    order: 2;
    width: 740px;
}

.channel {
    order: 1;
}

.channel .article-thumbs-icon-a {
    background: none !important;
}

.channel .article-thumbs-icon-a .iconfont {
    background: rgba(43, 122, 205, 1);
    color: #fff;
}

.thumbs-icon:hover {
    opacity: 0.6;
}

.thumbs-icon .iconfont {
    width: 36px;
    height: 36px;
    display: block;
    text-align: center;
    line-height: 32px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #2b7acd;
    background: rgba(43, 122, 205, 0.1);
    color: #2b7acd;
    font-size: 18px;
}

.thumbs-icon .thenum {
    position: absolute;
    top: -7px;
    right: -12px;
    height: 18px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #ff4949;
    padding: 0px 8px;
    display: block;
    color: #fff;
    font-weight: bold;
}

.article-thumbs-icon .iconfont-after {
    display: none;
}

.article-thumbs-icon-a .iconfont-before {
    display: none;
}

.article-thumbs-icon-a {
    background: rgba(43, 122, 205, 1) !important;
}

.article-thumbs-icon-a a {
    color: #fff !important;
}

.article-thumbs .iconfont-after {
    -webkit-animation: thumbs-icon 0.5s ease-out;
    -moz-animation: thumbs-icon 0.5s ease-out;
    animation: thumbs-icon 0.5s ease-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes thumbs-icon {
    0% {
        font-size: 24px;
    }
    50% {
        font-size: 28px;
    }
    100% {
        font-size: 24px;
    }
}

.detail-title {
    font-size: 34px;
    font-weight: bold;
    color: #323232;
    margin: 0px;
}

.article-pic {
    width: 100%;
    height: auto;
    margin: 30px auto 0px;
}

.article-pic img {
    display: block;
    width: 100%;
}

.article-con {
    width: 100%;
    height: auto;
    margin: 30px auto 0px;
    font-size: 16px;
    color: #323232;
    line-height: 28px;
    text-align: justify;
}

.article-con img {
    max-width: 100%!important;
    display: inline-block;
    height: auto;
}

.article-con p {
    margin: 16px 0px;
}

.relevant-tag {
    width: 100%;
    margin: 30px auto 0px;
    overflow: hidden;
}

.relevant-tag .relevant-icon {
    font-size: 22px;
    color: #b2b2b2;
    display: block;
    float: left;
    width: 30px;
}

.relevant-tag .tag-list {
    line-height: 30px;
    float: left;
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
}

.relevant-tag .tag-item {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
}

.relevant-tag .tag-item a {
    color: #406599;
}

.relevant-tag .tag-item:before {
    content: "/";
    padding-right: 6px;
    color: #e0e0e0;
    box-sizing: border-box;
}

.relevant-tag .tag-item:first-child:before {
    color: #fff;
    padding: 0px;
}

.article-thumbs {
    width: 118px;
    height: 72px;
    margin: 30px auto 0px;
    /*background: #2b7acd;*/
    border: 1px solid #2b7acd;
    background: rgba(43, 122, 205, 0.1);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.article-thumbs a {
    color: #2b7acd;
}

.article-thumbs span,
.article-thumbs strong {
    display: block;
}

.article-thumbs span {
    font-size: 24px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.article-thumbs strong {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.article-thumbs:hover {
    background: #268af3;
    border: 1px solid #268af3;
}

.article-thumbs:hover a {
    color: #fff;
}

.author-message {
    width: 100%;
    height: auto;
    margin: 30px auto 0px;
    background: #fafafa;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}

.author-message .user-pic {
    width: 40px;
    height: 40px;
    float: left;
}

.author-message .user-pic img {
    width: 100%;
    display: block;
    -webkit-border-radius: 50% 50% 50% 0;
    -moz-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
}

.author-message .author-text {
    width: -moz-calc(100% - 40px - 90px);
    width: -webkit-calc(100% - 40px - 90px);
    width: calc(100% - 40px - 90px);
    padding: 0px 15px;
    box-sizing: border-box;
    float: left;
}

.author-message .author-text .username {
    font-size: 16px;
    color: #2b7acd;
    margin-bottom: 5px;
    display: block;
}

.author-message .author-text .thetext {
    display: block;
    font-size: 12px;
    color: #808080;
    line-height: 24px;
}

.author-message .author-follow {
    width: 90px;
    height: 36px;
    float: right;
    display: block;
    border-radius: 5px;
    background: #2b7acd;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.author-message .author-follow:hover {
    background: #268af3;
}

.comment-from {
    width: 100%;
    height: auto;
    margin: 15px auto 0px;
    overflow: hidden;
}

.comment-login-before {
    border: 1px solid #ededed;
    padding: 30px 0px;
    width: 100% !important;
    float: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.comment-login-before span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #808080;
}

.comment-login-before .login-btn {
    display: block;
    margin: 10px auto 0px;
    width: 90px;
    height: 36px;
    border-radius: 5px;
    background: #2b7acd;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.comment-login-before .login-btn:hover {
    background: #268af3;
}

.comment-from .user-pic {
    width: 34px;
    height: 34px;
    float: left;
}

.comment-from .user-pic img {
    display: block;
    -webkit-border-radius: 50% 50% 50% 0;
    -moz-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    width: 100%;
}

.comment-input {
    width: -moz-calc(100% - 45px);
    width: -webkit-calc(100% - 45px);
    width: calc(100% - 45px);
    float: right;
    border: 1px solid #ededed;
    border-radius: 5px;
}

.comment-input textarea {
    width: 100%;
    min-height: 110px;
    outline: none;
    padding: 10px;
    border: none;
    box-shadow: none;
}

.comment-submit-btn {
    margin: 5px 10px 10px 0px;
    text-align: right;
    overflow: hidden;
   /* position: absolute;
    right: 1px ;
    bottom: 5px;*/
}

.comment-submit-btn a {
    display: inline-block;
    width: 90px;
    height: 34px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #2b7acd;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
    margin-left: 7px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.comment-submit-btn a:hover,.comment-submit-btn a:focus {
    background: #268af3;
    color: #fff;
    outline: none;
}
.toast-tip{
    padding-left: 10px;
    color: red;
}

.comment-submit-btn a:first-child {
    background: none;
    color: #808080;
}

.comment-submit-btn a:first-child:hover {
    background: #ebebeb;
}

.comment-title {
    width: 100%;
    height: 30px;
    margin: 40px auto 0px;
}

.comment-title .thetetxt {
    /*width: 100px;
    margin-left: -50px;
    font-size: 20px;
    color: #2b7acd;
    font-weight: bold;*/

    position: relative;
    left: auto;
    margin-left: 0px;
    font-size: 20px;
    color: #2b7acd;
    font-weight: bold;
    width: auto;
    top: auto;
    display: inline-block;
}


.comment-list {
    width: 100%;
    margin: 20px auto 0px;
    overflow: hidden;
}

.comment-list .user-pic {
    width: 36px;
    height: 36px;
    float: left;
}

.comment-list .user-pic img {
    width: 100%;
    display: block;
    -webkit-border-radius: 50% 50% 50% 0;
    -moz-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
}

.comment-list .comment-con {
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    float: right;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
}

.comment-list:last-child .comment-con {
    border-bottom: none;
}

.comment-list .comment-con .thetitle {
    margin-bottom: 10px;
    font-size: 14px;
    color: #b2b2b2;
}

.comment-list .comment-con .thetitle a {
    color: #406599;
    margin-right: 15px;
}

.comment-list .comment-con .thecon {
    color: #323232;
    font-size: 14px;
    line-height: 28px;
}

.comment-list .comment-con .comment-reply-list {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    border-left: 1px solid #ededed;
    background: #fafafa;
    margin-bottom: 10px;
}

.comment-list .comment-con .operate-icon {
    width: 100%;
    margin-top: 10px;
}

.comment-list .comment-con .operate-icon a {
    margin-right: 35px;
    display: inline-block;
    font-size: 14px;
    color: #808080;
}

.comment-list .comment-con .operate-icon a:hover {
    opacity: 0.6;
}

.comment-list .comment-con .operate-icon .iconfont {
    color: #999999;
}

.reply-thumbs-icon .thumbs-after {
    display: none;
}

.reply-thumbs-icon-a .thumbs-after {
    display: inline-block;
    color: #ff4949 !important;
}

.reply-thumbs-icon-a .thumbs-before {
    display: none;
}

.reply-comment-from .comment-input {
    width: 100%;
    float: none;
}

.comment-more {
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    float: right;
    height: 40px;
    margin: 10px auto 0px;
    background: #fafafa;
    text-align: center;
    line-height: 40px;
}

.comment-more-a{
    background: none;
}

.comment-more a {
    font-size: 14px;
    color: #b2b2b2;
    display: block;
    width: 100%;
    height: 100%;
}
.comment-more a:hover{
    color: #b2b2b2;
}

.recommend-title {
    width: 100%;
    margin: 30px auto 0px;
    font-size: 30px;
    color: #323232;
    font-weight: bold;
}

.flex-container {
    display: flex;
}

/*
详情右边*/
.detail-right {
    width: 25%;
    height: auto;
    float: right;
    margin-top: 35px;
    order: 3;
    margin-left: 30px;
}

.personal-information {
    width: 100%;
    height: auto;
    border: 1px solid #ededed;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.personal-information .user-pic {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.personal-information .user-pic img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50% 50% 50% 0;
    -moz-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    top: -35px;
    position: relative;
    border: 1px solid #ededed;
    padding: 2px;
}

.personal-information .user-information {
    margin: -20px auto 0px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 24px;
}

.user-information .theuser {
    display: block;
    font-size: 16px;
    color: #323232;
    text-align: center;
}

.user-information .theintroduce {
    display: block;
    text-align: center;
    margin: 10px auto 0px;
    line-height: 22px;
    color: #808080;
}

.user-information .other-message {
    text-align: center;
    margin: 10px auto 0px;
}

.user-information .other-message span {
    display: inline-block;
    margin: 0px 5px;
    color: #b2b2b2;
}

.operate-btn {
    margin: 16px auto 0px;
    overflow: hidden;
}

.operate-btn a {
    display: block;
    width: 46%;
    height: 38px;
    float: left;
    text-align: center;
    line-height: 38px;
    background: #2b7acd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.operate-btn a:hover,.operate-btn a:focus{
    color: #fff;
}

.operate-btn a:last-child {
    float: right;
    border: 1px solid #ea6f5a;
    background: #fff5f5;
    color: #ea6f5a;
}

.operate-btn .iconfont {
    font-size: 20px;
}

.operate-btn a:hover {
    background: #268af3;
}

.operate-btn a:last-child:hover {
    background: #ea6f5a;
    color: #fff;
}

.his-article h2 {
    font-size: 18px;
    color: #323232;
    font-weight: bold;
}

.his-article .article-list {
    width: 100%;
    height: auto;
}

.his-article .article-list li {
    padding: 10px 0px;
    border-bottom: 1px solid #ededed;
}

.his-article .article-list li a,
.his-article .article-list li .thedate {
    display: block;
}

.his-article .article-list li a {
    line-height: 22px;
    color: #323232;
}

.his-article .article-list li .thedate {
    color: #b2b2b2;
    margin: 5px auto 0px;
}

.his-article-link {
    margin: 20px auto 0px;
}

.his-article-link a {
    display: block;
    width: 100%;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #2b7acd;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.his-article-link a:hover {
    background: #268af3;
}

.hot-tags {
    width: 100%;
    height: auto;
    border: 1px solid #ededed;
    padding: 0px 20px 10px 20px;
    box-sizing: border-box;
    margin: 20px auto 0px;
    border-radius: 5px;
}

.detail-right-title {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #ededed;
    line-height: 54px;
}

.detail-right-title h2 {
    margin: 0px;
    font-size: 18px;
    color: #323232;
    font-weight: bold;
    float: left;
    line-height: 54px;
}

.detail-right-title a {
    font-size: 12px;
    color: #b2b2b2;
    display: block;
    float: right;
}

.detail-right-title a:hover {
    color: #2b7acd;
}

.hot-tags-con {
    overflow: hidden;
    margin: 10px auto;
}

.hot-tags-con a {
    display: block;
    /*width: 30%;*/
    padding: 0px 10px;
    float: left;
    height: 32px;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 32px;
    margin: 5px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    color: #666;
}

.hot-tags-con a:hover {
    background: #2b7acd;
    border: 1px solid #2b7acd;
    color: #fff;
}

.share-weixin-box-xs-bg,
.share-weixin-browser-xs-bg {
    display: none;
}

.channel{
    width: 100px;
}
.channel-list-seat{
    padding-right: 0px;
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        margin: 2% auto 0px;
    }

    .article-pic {
        margin: 3% auto 0px;
    }
}

@media (max-width: 767px) {
    .comment-submit-btn {
        width: 100%;
        margin: 8px auto 0px;
        text-align: right;
        overflow: hidden;
        position: unset;
        right: unset;
        bottom: unset;
    }
    .detail-title {
        line-height: 34px;
        font-size: 20px;
    }

    .article-con {
        margin: 2% auto 0px;
        font-size: 15px;
    }

    .relevant-tag {
        margin: 2% auto 0px;
    }

    .relevant-tag .tag-item {
        font-size: 12px;
    }

    .relevant-tag .relevant-icon {
        font-size: 16px;
        width: 20px;
        margin-top: 5px;
    }

    .relevant-tag .tag-list {
        width: -moz-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .author-message {
        margin: 4% auto 0px;
        padding: 5% 3%;
    }

    .author-message .user-pic {
        width: 30px;
        height: 30px;
    }

    .author-message .author-text {
        width: -moz-calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
        width: calc(100% - 30px);
        padding: 0px 0px 0px 10px;
        min-height: 30px;
    }

    .author-message .author-follow {
        width: 60px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        float: left;
        margin-left: 40px;
        margin-top: 3%;
    }

    .author-message .author-text .username {
        font-size: 14px;
        font-weight: bold;
    }

    .comment-list .user-pic {
        width: 30px;
        height: 30px;
    }

    .comment-list .comment-con {
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .comment-title .thetetxt {
        font-size: 18px;
    }

    .comment-list .comment-con .thetitle {
        font-size: 12px;
    }

    .comment-list .comment-con .thecon {
        font-size: 12px;
        line-height: 22px;
    }

    .comment-list .comment-con .comment-reply-list {
        padding: 3% 5%;
    }

    .comment-list .comment-con .operate-icon a {
        font-size: 12px;
    }

    .comment-list .comment-con .operate-icon .iconfont {
        font-size: 14px;
    }

    .comment-more {
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        height: 32px;
        line-height: 32px;
    }

    .comment-more a {
        font-size: 12px;
    }

    .recommend-title {
        height: 30px;
        margin: 5% auto 0px;
        font-size: 18px;
        position: relative;
    }

    .recommend-title .thetext {
        width: 120px;
        height: 30px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -60px;
        top: 0px;
        background: #fff;
        text-align: center;
        line-height: 30px;
        z-index: 999;
        color: #2b7acd;
    }

    .recommend-title .theline {
        width: 100%;
        height: 1px;
        position: absolute;
        top: 15px;
        left: 0px;
        background: #ededed;
    }

    .detail-bg {
        width: 108%;
        height: 3vw;
        margin: 5% auto 0px;
        background: #f5f5f5;
        margin-left: -4%;
        margin-right: -4%;
    }

    .comment-list .comment-con .operate-icon a:hover {
        opacity: 1;
    }

    .bottom-sidebar {
        width: 100%;
        height: auto;
        -moz-box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.1);
        box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.1);
        position: fixed;
        left: 0px;
        bottom: 0px;
        background: #fff;
        z-index: 4999;
    }

    .art-comment-xs {
        width: 92%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
    }

    .mypl-xs {
        width: 56%;
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #f5f5f5;
        margin: 10px auto;
        font-size: 12px;
        color: #b2b2b2;
        line-height: 28px;
        padding-left: 10px;
        float: left;
    }

    .mypl-xs .iconfont {
        color: #808080;
        padding-right: 5px;
        font-size: 14px;
    }

    .bottom-sidebar .myicon-xs {
        width: 44%;
        float: right;
        height: 30px;
        line-height: 30px;
        margin: 10px auto;
    }

    .bottom-sidebar .myicon-icon {
        width: 33.33%;
        height: auto;
        float: left;
        text-align: center;
        color: #b2b2b2;
        position: relative;
    }

    .bottom-sidebar .myicon-icon .iconfont {
        color: #999999;
        font-size: 22px;
    }

    .bottom-sidebar .myicon-icon strong {
        position: absolute;
        right: 20%;
        top: -5px;
        display: block;
        background: #ff4949;
        height: 16px;
        line-height: 16px;
        padding: 0px 10%;
        border-radius: 200px;
        font-size: 10px;
        color: #fff;
        font-weight: normal;
        transform: scale(0.80);
        transform-origin: 0 0;
        -ms-transform: scale(0.80);
        -ms-transform-origin: 0 0;
        -webkit-transform: scale(0.80);
        -webkit-transform-origin: 0 0;
        -moz-transform: scale(0.80);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.80);
        -o-transform-origin: 0 0;
    }

    .bottom-sidebar .article-thumbs-icon-a {
        background: none !important;
    }

    .bottom-sidebar .article-thumbs-icon-a .iconfont {
        color: #2b7acd;
    }

    .bottom-sidebar .article-thumbs-icon-a-after .iconfont-before {
        display: none;
    }

    .bottom-sidebar .article-thumbs-icon-a-before .iconfont-after {
        display: none;
    }

    .share-box-xs {
        width: 96%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        display: none;
    }

    .share-box-xs li {
        width: 33.33%;
        height: auto;
        float: left;
        text-align: center;
        color: #808080;
        padding: 10px 0px;
    }

    .share-box-xs li span {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 500px;
        margin: 0 auto 4%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #fff;
    }

    .share-box-xs .weixin span {
        background: #52cd3e;
    }

    .share-box-xs .weibo span {
        background: #f8575c;
    }

    .share-box-xs .qq span {
        background: #ff6631;
    }

    .art-comment-area-xs {
        width: 92%;
        height: auto;
        margin: 0 auto;
        padding: 20px 0px;
        overflow: hidden;
        display: none;
    }

    .art-comment-area-xs textarea {
        width: 100%;
        border: 1px solid #ededed;
        box-shadow: none;
        min-height: 80px;
        font-size: 12px;
        color: #323232;
        outline: none;
        padding: 10px;
        background: #fafafa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .comment-submit-btn {
        margin: 0px auto 0px;
    }

    .art-comment-area-xs .btn,
    .comment-submit-btn a {
        width: 60px;
        height: 26px;
        background: #2b7acd;
        text-align: center;
        line-height: 26px;
        font-size: 12px;
        padding: 0px;
        color: #fff;
        font-weight: normal;
        margin-top: 10px;
        float: right;
        outline: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .btn:focus {
        outline: none !important;
        background: #268af3;
    }

    .comment-submit-btn a:first-child {
        background: #ebebeb;
    }

    .bg-layer {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.7);
        z-index: 3999;
        padding: 2% 0px;
        display: none;
    }

    .disable-scroll {
        overflow: hidden;
        height: 100%;
    }

    .share-weixin-box-xs-bg,
    .share-weixin-browser-xs-bg {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 30000;
        display: none;
    }

    .share-weixin-box-xs {
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #fff;
        display: flex;
    }

    .share-weixin-box-xs .iconfont {
        font-size: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .share-weixin-box-xs .thetext {
        font-size: 28px;
    }

    .share-weixin-box-xs .thebtn {
        display: block;
        width: auto;
        margin: 20px auto 0px;
        padding: 5px 30px;
        background: #2b7acd;
        border-radius: 2px;
        color: #fff;
        font-size: 16px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .comment-login-before .login-btn {
        width: 60px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
}
.copyright{
    color: #b2b2b2;
    margin-top: 30px;
    line-height: 20px;
}
.copyright-span{
    font-weight: bold;
    color: #2b7acd
}
.specialcolumn_des{
    margin-left: 10px;
    margin-top: 10px;  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-word;
    overflow: hidden; color: #666; font-size: 14px; line-height: 22px;
}
.specialcolumn_des a{
    color: #666;
}
.class-original{
    display: block;
    float: left;
    padding: 0px 5px;
    height: 20px;
    line-height: 20px;
    background: #f8575c;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 10px;
}